<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <!-- if you remove this meta tag, the NSA will spy on you through your Xbox Kinect camera -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation</title>
    {{ "application.css" | asset_url | stylesheet_tag }}
    {{ "vendor/modernizr.js" | asset_url | javascript_tag }}
</head>

<body>

    {{ content_for_layout }}

    {{ "application.js" | asset_url | javascript_tag }}
</body>

</html>