$input-height: 36px;

@include inputs{
  @include border-radius(3px); // border radius
  @include background-clip(padding-box); // prevents bg color from leaking outside the border
  @include box-shadow(inset 0px 3px 0px 0px #F8FAFB);
  @include transition(border 0.3s ease);
  margin: 0;
  height: $input-height;
  border: 1px solid #C2CED5; // stroke
  background: white;
  font-weight: normal;
  color: #889DA8;
  padding-left: em-calc(13);
  padding-right: em-calc(13);

  @include style-placeholder{
    font-weight: normal;
    color: #B1C3CD;
  }

  &:focus{
    @include box-shadow(inset 0px 3px 0px 0px #F8FAFB);
    outline: none;
    background: white;
    border: 1px solid #83BDD2; // stroke
  }

  &[disabled]{
    @include opacity(1);
    border: 1px solid #DCE4E8;
    color: #CFD7DC;
  }

}

textarea{
  resize: none;
  height: 114px;
}

.field{
  margin-bottom: 10px;
  position: relative;
}

select{
  border: 1px solid #C2CED5; // stroke
  height: $input-height;
  margin: 0;
  outline: none;
  font-size: 13px;

  .js & {
    &[data-behaviour=select], &[data-behaviour=smart-select], &[data-behaviour=selectize]{
      @include opacity(0);
    }
  }
}

.select{
  @include border-radius(3px); // border radius
  @include background-clip(padding-box); // prevents bg color from leaking outside the border
  @include box-shadow(0px 1px 0px 0px rgba(0,0,0,0.05), inset 0px 1px 0px 0px #FFFFFF); // drop shadow
  @include background(linear-gradient(-180deg, #FBFDFD 0%, #F4F6F7 100%)); // gradient overlay
  margin: 0;
  height: $input-height;
  border: 1px solid #C2CED5; // stroke
  background-color: #fff; // layer fill content
  font-weight: normal;
  color: #889DA8;
  position: relative;
  font-size: em-calc(13);
  padding: em-calc(10, 13) em-calc(15, 13) em-calc(11, 13);
  line-height: 16px;

  &:hover{
    @include background(linear-gradient(-180deg, #FFFFFF 0%, #F9FBFC 100%)); // gradient overlay
    border: 1px solid #C2CED5;
  }

  &:active{
    @include box-shadow(inset 0px 3px 0px 0px #ECF2F5);
    background: #EEF3F5;
    border: 1px solid #C2CED5;
  }

  &.disabled{
    @include background(linear-gradient(-180deg, #FFFFFF 0%, #FDFDFD 100%));
    color: #CFD7DC;
    border: 1px solid #DCE4E8;
  }

  &.placeholder{
    font-weight: normal;
    color: #B1C3CD;
  }

  .caret{
    position: absolute;
    right: 6px;
    top: 14px;
    height: 13px;
    font-size: 8px;
    @include shoperb-icon;
    @extend .icon-down;

  }

  select{
    width: 100%;
    height: 100%;
    @include opacity(0);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
  }
}

form{
  margin: 0;
}


.form-col{
  @extend .columns;
  padding-left: 5px;
  padding-right: 5px;
}

.row form .row, form .row .row{
  margin-left: -5px;
  margin-right: -5px;
}
