.sorting-form{
  margin-bottom: 6px;
}

.category-page{
  padding-top: 17px;
}

.manufacturer-nav{
  ul{
    li{
      .checkbox-field{
        float: right;
        margin-bottom: 0;

        input{
          margin-bottom: 0;
        }
      }
    }
  }
}