body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
}


/** Header **/
#header {
	background: url("header-gradient.png") repeat-x bottom center;
}
	#header .container {
		width: 960px;
		height: 100%;
		overflow: hidden;

		margin: 0 auto;
		padding: 15px 0 0;
	}

	#header .logo {
		float: left;
    width: 247px;
    height: 90px;
	}

	#header .navigation {
		float: right;
	}

	#header .shop {
		float: right;
		font-size: 11px;
		padding-top: 2px;
	}
		#header .shop img {
			vertical-align: top;
			margin-top: -1px;
			margin-right: 2px;
		}
		#header .shop .items {
			color: #65a800;
			margin-left: 5px;
		}
		#header .shop .price {
			color: #65a800;
			margin-left: 5px;
		}

	#header .search {
		float: right;
		margin-left: 24px;
	}
		#header .searchbox {
			float: left;
			background: url("search.png") no-repeat center left;
		}
		#header .search input {
			float: left;
			height: 17px;
			margin: 3px 5px 0px;
			border: 0px;
			outline: none;
			line-height: 17px;
			font-family: Arial, Helvetica, sans-serif;
			background: transparent;
			vertical-align: middle;
		}
		#header .search input.submit {
			padding: 0;
			outline: 0;
			border: 0;
			margin: 0;
			width: 32px;
			height: 23px;
			overflow: hidden;
			background: url("search.png") no-repeat center right;
			font-family: Arial, Helvetica, sans-serif;
			cursor: pointer;
		}

	#header .menu {
		clear: both;
		float: right;
		padding-top: 10px;
	}
		#header .menu a {
			color: #464545;
			font-size: 14px;
			text-decoration: none;
			display: inline-block;
			margin-left: 40px;
			padding-top: 8px;
			padding-bottom: 6px;
			background: url("menu-bar.png") no-repeat -16px bottom;
		}
		#header .menu a.active,
		#header .menu a:hover {
			background-repeat: repeat-x;
		}


/** Body **/
#body {
	background: url("body-gradient.png") repeat-x top center;
	min-height: 200px;
}
	#body .container {
		width: 960px;
		height: 100%;
		overflow: hidden;

		margin: 0 auto;
	}


	#body .sidebar {
		float: left;
		width: 220px;
		padding: 50px 0 30px;
	}
		#body .sidebar > ul > li > a {
			display: block;
			padding: 5px 10px 8px;
			line-height: 16px;
			background: url("sidebar-section.png") no-repeat bottom center;
			
		}
		* html #body .sidebar > ul > li > a {
			background: none;
			border-bottom: 1px solid #444;
		}

		#body .sidebar ul > li > ul {
			padding: 10px 10px 10px 25px;
			font-family: Arial, Helvetica, sans-serif;
		}
		#body .sidebar ul > li > ul > li > a {
			font-size: 12px;
			background: none;
		}
			#body .sidebar ul > li > ul > li.active > a {
				line-height: 16px;
				padding-left: 22px;
				background: url("submenu-active.png") no-repeat 8px 6px;
				color: #73a902;
			}


		#body .sidebar a {
			color: #343434;
			font-size: 14px;
			text-decoration: none;
		}
			#body .sidebar a:hover {
				color: #666;
			}

	#body .content {
		margin-left: 225px;
		position: relative;
	}

	#body .content .breadcrumbs {
		font-size: 11px;
		position: absolute;
		top: 5px;
		left: 15px;
	}
		#body .content .breadcrumbs a {
			color: #343434;
			text-decoration: none;
			margin: 0 3px;
		}
		#body .content .breadcrumbs a:hover {
			text-decoration: underline;
		}
		#body .content .breadcrumbs a:last-child {
			color: #77a901;
			text-decoration: none;
		}


	#body .content .producttitle {
		background: url("product-title.png") no-repeat top left;
		padding: 0 0 0 25px;
		height: 100%;
		overflow: hidden;
	}
		#body .content .producttitle h1 {
			background: url("product-title.png") no-repeat bottom right;
			padding: 53px 45px 42px 12px;
			line-height: 20px;
			font-size: 20px;
			font-weight: 300;
			color: #000;
			text-shadow: 0px 1px 1px #a8e223;
			float: left;
		}

	#body h2 {
		font-size: 16px;
		color: #242424;
		margin-bottom: 15px;
	}

/** Product preview area **/
#productpreview {
	width: 330px;
	border: 1px solid #d7d7d7;
	background: #fff;
	float: left;
	padding: 0;
	position: relative;
}
	#productpreview .new {
		position: absolute;
		top: -5px;
		left: -4px;
		width: 112px;
		height: 112px;
		background: url("product-new-badge.png") no-repeat top left;
	}
	* html #productpreview .new {
		display: none;
	}
	#productpreview .image {
		padding: 5px;
		background: url("product-image-gradient.png") repeat-x bottom left;
	}
		#productpreview .image img {
			margin: auto;
		}
	#productpreview .thumbnails {
		border-top: 1px solid #d7d7d7;
		padding-top: 10px;
		padding-bottom: 10px;
		height: 100%;
		overflow: hidden;
		background: #f4f4f4;
	}
		#productpreview .thumbnails img {
			float: left;
			margin-left: 10px;
			border: 1px solid #d7d7d7;
		}
	#productpreview .colours {
		border-top: 1px solid #d7d7d7;
		padding-top: 10px;
		padding-bottom: 10px;
		height: 100%;
		overflow: hidden;
		background: #fff;
	}
		#productpreview .colours img {
			float: left;
			margin-left: 10px;
		}
		#productpreview .colours .white  { background: #fff; }
		#productpreview .colours .orange { background: #fbb626; }
		#productpreview .colours .black  { background: #000; }


/** Product details area **/
#productdetails {
  float: right;
  width: 360px;
}

#productdetails p {
	color: #5c5c5c;
  padding: 0 0 10px 0;
}

#productdetails ul {
	list-style-image: url("product-details-bullet.png");
	padding-left: 20px;
	color: #5c5c5c;
	margin-bottom: 30px;
}
#productdetails .purchase {
	padding-left: 20px;
}
#productdetails dl {
	height: 100%;
	overflow: hidden;
	line-height: 28px;
}
	#productdetails dl dt {
		float: left;
		clear: both;
		width: 120px;
		font-size: 14px;
		vertical-align: baseline;
	}
	#productdetails dl dd {
		float: left;
		font-size: 16px;
		font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
		vertical-align: baseline;
	}
		#productdetails dl dd.strike {
			text-decoration: line-through;
		}
	#productdetails dl dt.campaign {
		padding-top: 3px;
		font-size: 18px;
	}
	#productdetails dl dd.campaign {
		font-size: 26px;
		color: #f00;
	}

#productdetails .buy {
	margin-top: 40px;
	font-size: 14px;
	line-height: 20px;
}
	#productdetails .buy .title {
		margin-bottom: 5px;
	}
#productdetails .quantity {
	display: inline-block;
	overflow: hidden;
	position: relative;
	width: 130px;
	height: 48px;
	padding: 0;
	background: url("product-quantity.png") no-repeat top left;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
}
	#productdetails .quantity a {
		width: 44px;
		height: 48px;
	}
	#productdetails .quantity a.less {
		position: absolute;
		top: 0;
		left: 0;
		background: url("product-quantity.png") no-repeat top left;
	}
		#productdetails .quantity a.less:hover {
			background-position: bottom left;
		}
	#productdetails .quantity a.more {
		position: absolute;
		top: 0;
		right: 0;
		background: url("product-quantity.png") no-repeat top right;
	}
		#productdetails .quantity a.more:hover {
			background-position: bottom right;
		}

#productdetails .quantity .amount input {
  height: 48px;
  background: transparent;
  text-align: center;
  font-size: 14px;
  border: none;
  display: block;
  width: 130px;
}

/** Footer **/
#footer {
	width: 960px;
	margin: 0 auto;
	padding: 100px 0 50px;
	font-size: 11px;
	color: #afafaf;
	text-align: right;
}
	#footer a {
		text-decoration: none;
		color: #afafaf;
	}
	#footer a:hover {
		text-decoration: underline;
	}


.products_list {
}

.products_list ul {

}

.products_list ul li {
  float: left;
  width: 220px;
  border: 1px solid #cccccc;
  padding: 5px;
  margin: 0 10px 10px 0;
  text-align: center;
  font-size: 14px;
}

.products_list ul li.last-in-row {
  margin-right: 0;
}

.products_list ul li img {
  width: 220px;
  height: 220px;
}

.products_list ul li a {
  color: #212121;
  text-decoration: none;
}

.product_list_title span {
  display: block;
  height: 20px;
}

.products_list ul li a.product_list_price {
  font-size: 18px;
  font-weight: bold;
  color: #fa4520;
}

.shopping_cart {
  margin: 0 20px 30px 20px;
  border: 1px solid #e4e4e4;
  min-width: 97%;
  max-width: 100%;
}

.shopping_cart thead {
  border: 1px solid #edf4da;
}

.shopping_cart thead th {
  background: #f6fce5;
  font-weight: bold;
  padding: 4px 20px;
}

.shopping_cart tbody td {
  padding: 6px 20px;
  border-bottom: 1px solid #ededed;
}

.shopping_cart tbody td input {
  border: 1px solid #e4e4e4;
  width: 50px;
  text-align: center;
  padding: 5px;
  background: #fbfbfb;
  box-shadow: inset 0 0 3px #e8e8e8;
  -moz-box-shadow: inset 0 0 3px #e8e8e8;
  -webkit-box-shadow: inset 0 0 3px #e8e8e8;
  font-weight: bold;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.shopping_cart tbody tr:nth-child(even) td {
  background: #f8f8f8;
}

.shopping_cart .order_total {
  text-align: right;
}

.shopping_cart td.product_price {
  text-align: right;
}

.shopping_cart td.product_total {
  text-align: left;
}

.shopping_cart tfoot td {
  background: #f0f0f0;
  border-top: 2px solid #c7c7c7;
  padding: 8px 20px;
  font-weight: bold;
}

.submit_cart,
.checkout_cart {
  float: right;
}