.product-details-section{
  @include content-block;
  @include border-radius(0);
  margin-bottom: 50px;

  h1{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .manufacturer{
    a{
      color: #B5C3CB;
      line-height: 17px;
      text-transform: uppercase;

      &:hover{
        text-decoration: underline;
      }
    }
  }

  .product-details{
    padding-bottom: 45px;
    padding-top: 25px;

    .product-images{
      @include grid-column(10);
      width: 40%;
    }

    .product-info{
      @include grid-column(14);
      width: 59%;
      float: right;
    }

  }

  .pricing{
    margin-top: 22px;
  }

  .previous-price{
    text-decoration: line-through;
    font-size: 18px;
    color: #B5C3CB;
    line-height: 22px;
  }

  .current-price{
    font-size: 36px;
    color: $primary-color;
    line-height: 43px;
  }

  .description{
    border-top: 1px solid #E4ECF0;
    margin-top: 18px;
    padding-top: 15px;
    margin-bottom: 32px;
  }

  .add-to-cart-form{
    .variations{
      margin-bottom: 22px;
    }

    button.add-to-cart{
      padding-top: 17px;
      padding-bottom: 13px;
    }
  }
}

.long-description, .technical-specification{
  margin-bottom: 43px;
}

.long-description{
  p{
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 22px;
  }
}

.technical-specification{
  ul{
    list-style: none;

    li{
      line-height: 22px;
      margin-bottom: 22px;

      .title{
        font-weight: bold;
      }

      .content{
        font-weight: normal;
      }
    }
  }
}

.recommended-products{
  .title{
    font-weight: 600;
    font-size: 18px;
    color: #65AEB3;
    line-height: 22px;
    margin-bottom: 16px;
    text-transform: uppercase;
  }
}