<section class="bottom-banner-products">
    <div class="row">
        <div class="columns large-18">
            <div class="banner-product large">
                <figure>
                    <img src="http://placehold.it/800x300" alt=""/>
                    <div class="price with-title">
                        <div class="title">{{ 'product.just' | t }}</div>
                        <div class="price-amount">
                            <span class="currency-prefix">$</span>
                            <span class="amount">59</span>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
        <div class="columns large-6">
            <div class="banner-product">
                <figure>
                    <img src="http://placehold.it/240x300" alt=""/>
                    <div class="price with-title">
                        <div class="title">{{ 'product.just' | t }}</div>
                        <div class="price-amount">
                            <span class="currency-prefix">$</span>
                            <span class="amount">19</span>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</section>