{% include 'crumbs' %}
<section role="main" class="category-page">
    <div class="row">
        <div class="columns large-24">
            <form class="sorting-form" action="">
                <div class="row">
                    <div class="form-col large-4 right">
                        <select name="filter-category" id="filter-category" data-behaviour="select">
                            <option value="">{{ 'categories.filters.list_by_price' | t }}</option>
                        </select>
                    </div>
                    <div class="form-col large-3 right">
                        <div class="field">
                            <input type="text" placeholder="{{ 'categories.filters.price_to' | t }}"/>
                        </div>
                    </div>
                    <div class="form-col large-3 right">
                        <div class="field">
                            <input type="text" placeholder="{{ 'categories.filters.price_from' | t }}"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="row">
        <div class="columns large-6">
            <aside class="product-navigation">
                {% if category.root.children.any? %}
                <nav class="category-nav">
                    <header>
                        <div class="title">{{ 'categories.categories' | t }}</div>
                    </header>
                    {% include 'categories' with category.root.children %}
                </nav>
                {% endif %}

                {% include 'vendors' %}
            </aside>
        </div>
        <div class="columns large-18">
            {% paginate category.products_with_children.order_by_name_asc by 9 %}
                {% for product in paginate.collection %}
                    {% assign current = forloop.index0 | modulo: 3  %}
                    {% if current == 0 %}
                        <div class="row">
                    {% endif %}
                        <div class="columns large-8">
                            {% include 'list_product' %}
                        </div>
                    {% if current == 2 %}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="row">
                    <div class="columns large-24">
                        {{ paginate | default_pagination: 'prev:<span class="icon-left"></span>', 'next:<span class="icon-right"></span>' }}
                    </div>
                </div>
            {% endpaginate %}
        </div>
    </div>

</section>