<section role="main">
    <section class="hero">
        <div class="row">
            <div class="columns large-24">
                <div class="hero-product">
                    <figure class="hero-image">
                        {{ 'banner.png' | asset_url | image_tag: '' }}
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <section class="preview-products">
        <div class="row">
            {% assign product_collection = menus['hidden_pages'].links['front-page-products'].object %}
            {% for product in product_collection.products %}
                <div class="columns large-6">
                    {% include 'list_product' %}
                </div>
            {% endfor %}
        </div>
    </section>

</section>