{% include "crumbs" %}
<section role="main">
    <div class="row">
        <div class="columns large-6">
            <aside class="account-navigation">
                <header>
                    <div class="title">MY ACCOUNT</div>
                </header>
                <ul>
                    <li><a href="javascript:void(0);">Wishlist</a></li>
                    <li class="active"><a href="javascript:void(0);">My Orders</a></li>
                    <li><a href="javascript:void(0);">Settings</a></li>
                </ul>
            </aside>
        </div>
        <div class="columns large-18">
            <div class="orders">
                <table>
                    <tbody>
                        {% for i in (1..3) %}
                            <tr>
                                <td class="order-nr">
                                    <a href="javascript:void(0);">1548758545</a>
                                </td>
                                <td class="amount">$1.803</td>
                                <td class="date">25 October 2013</td>
                                <td class="status">Processing</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>