{% include "crumbs" %}
<section role="main">
    <div class="content-block text-content-block">
        <div class="row">
            <div class="columns large-24">
                <h1>{{ page.name | escape }}</h1>
                <div class="text-content">
                    {{ page.content }}
                </div>
            </div>
        </div>
    </div>
</section>